@page "/"
@using DevExpress.AIIntegration.Blazor.Chat
@rendermode InteractiveServer
<PageTitle>Welcome</PageTitle>

<DxButton Click="@ResetChat" Text="Reset chat" />
<p> Temperature: </p><DxSpinEdit @bind-Value="@Temperature" MinValue="0" MaxValue="2" Increment="0.05f" />
<DxAIChat Temperature="@Temperature" @ref="@RefAiChat" ResponseContentFormat="ResponseContentFormat.PlainText" />
<DxMemo  />

@code {
    DxAIChat RefAiChat;
    float Temperature { get; set; } = 0;
    string SystemPrompt { get; set; } = "You are a helpful assistant.";

    void ResetChat() {
        
        using (var sr = new StreamReader("prompt.txt")) {
            SystemPrompt = sr.ReadToEnd();
        }

        List<BlazorChatMessage> lst = new(){
            new BlazorChatMessage(Microsoft.Extensions.AI.ChatRole.System, SystemPrompt),
            new BlazorChatMessage(Microsoft.Extensions.AI.ChatRole.Assistant, "Enter your draft here"),
        };
    
        RefAiChat.LoadMessages(lst);
    }
}